
*:focus 
  {
    outline: none;
  }
  
  body 
  {
    margin: 0;
    padding: 0;
    background: #c2c4b7;
    font-size: 16px;
    color: #222;
    font-weight: 300;
  }
  

  .FAKE-precisebook-logo
  {
    position: fixed;
    left: 40%;
    top: 10%;
    height: 60px;
    width: 100%;
    /* align-items: center;*/
  }
  
  .FAKE-precisebook-logo i
  {
    font-size: 50px;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }

  .FAKE-precisebook-logo .logo_Title
{
  font-size: 50px;
  color: white;
  font-weight: 600;
}
  #Login 
  {
    position: fixed;
    margin: 5% auto;
    width: 400px;
    height: 600px;
    bottom: 100px;
    left: 750px;
    background: rgb(212, 212, 212);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #000000ee;
  }
  
  .left 
  {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h2 {
    margin-left: 125px;
  }
  
  input[type = "date"]
  {
    margin-top: 5% auto;
    margin-left: 10px }

  label
  {
    margin-left: 100px;
  }
  select
  { 
    margin-left: 10px;
  }
  
  input[type="text"], input[type="password"] 
  {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 80px;
    padding: 15px;
    width: 220px;
    height: 32px;
    right: 20px ;
    border: none;
    border-bottom: 1px solid #AAA;
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus, input[type="password"]:focus 
  {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }
  
  button
  {
    height: 32px;
    width: 100px;
    margin-top: 20px;
   margin-left: 130px;
  }
  
  input[type="submit"]:hover, input[type="submit"]:focus 
  {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active 
  {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }

#login_page
{
  margin-left: 100px;
}